/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

img,
picture,
svg,
video,
footer {
	display: block;
	max-width: 100%;
}

/* Nav */
nav,
footer,
#hero_img {
	width: 100vw;
	padding: 20px 40px;
}

#nav_wrapper {
	display: flex;
	flex-direction: colum;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;

	margin: 0 auto;
}

ul,
#icons {
	list-style: none;
	display: flex;
	gap: 24px;
}

* {
	/* border: 1px solid red; */
}

#main_content {
	max-width: 1200px;
	margin: 0 auto;
}

/* Sección NUESTROS VALORES */

#contentWrapper {
	padding: 80px 0;
}

.iconValue {
	max-width: 70px;
	aspect-ratio: 1;
	margin: 0 auto;
}

.sectionTitle {
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 48px;
	text-transform: uppercase;
}

.valuesContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 48px;
}

.valuesContainer > div > h2 {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	padding: 24px 0;
}

p {
	font-size: 16px;
	line-height: 150%;
}
