/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

img,
picture,
svg,
video,
footer {
	display: block;
	max-width: 100%;
}

/* Nav */
nav,
footer,
#hero_img {
	width: 100vw;
	padding: 20px 40px;
}

#nav_wrapper {
	display: flex;
	flex-direction: colum;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;

	margin: 0 auto;
}

ul,
#icons {
	list-style: none;
	display: flex;
	gap: 24px;
}

* {
	border: 1px solid red;
}

#main_content {
	max-width: 1200px;
	margin: 0 auto;
}

/* Sección NUESTROS VALORES */
.iconValue {
	width: 200px;
	aspect-ratio: 1;
}

.sectionTitle {
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	padding: 16px 0;
}
