/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

img,
picture,
svg,
video,
footer {
	display: block;
	max-width: 100%;
}

p {
	line-height: 150%;
}

#content {
}

/* Nav */
#logo:hover {
	color: green;
	cursor: pointer;
}
#hero_img {
	width: 100vw;
	padding: 20px 40px;
}

#messageContainer,
#nav_wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#messageContainer {
	padding-top: 16px;
	padding-bottom: 16px;
}

#divMessage {
	padding: 8px;
	background-color: black;

	max-width: 1200px;
	color: white;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

#divMessage > * {
	display: inline;
	margin-right: 8px;
}

#linkTOP,
#linkFika {
	color: lightgreen;
	font-weight: 800;
	text-decoration: none;

	padding-bottom: 3px;
	border-bottom: 3px solid lightgreen;
}

#linkTOP:hover,
#linkFika:hover,
#linkTOP:visited,
#linkFika:visited {
	color: white;
	padding-bottom: 3px;
	border-bottom: 3px solid white;
}

#nav_wrapper {
	display: flex;
	flex-direction: colum;
	justify-content: space-between;
	align-items: center;
}

ul,
#icons {
	list-style: none;
	display: flex;
	gap: 24px;
}

ul > li {
	padding: 48px 32px;
	cursor: pointer;

	text-transform: uppercase;
	font-weight: 800;
}

ul > li:hover > a {
	color: lightgreen;
	padding-bottom: 4px;
	border-bottom: 4px solid lightgreen;
}

.currentSection > a {
	padding-bottom: 4px;
	border-bottom: 4px solid black;
}

#main_content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
}

/* FOOTER */
footer {
	max-width: 1200px;
	margin: 0 auto;

	border: 4px solid black;
	padding: 40px 56px;
	border-radius: 24px;
}

.footerTitle {
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 8px;
}

/* Sección NUESTROS VALORES */

#contentWrapper {
	padding: 20px 0 80px 0;
}

.iconValue {
	max-width: 70px;
	aspect-ratio: 1;
	margin: 0 auto;
}

.sectionTitle {
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 48px;
	text-transform: uppercase;
}

.valuesContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 48px;
}

.valuesContainer > div > h2 {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	padding: 24px 0;
}

/* Carta */

.contenedorCarta {
	border: 2px solid black;
	padding: 48px;
	max-width: 800px;
	margin: 0 auto;
}

.contenedorCarta > h2 {
	font-size: 32px;
	font-weight: 800;
	text-transform: uppercase;
}
.contenedorCarta > p {
	font-style: italic;
}

.listaContainer {
	margin-top: 32px;
}

.itemContainer {
	margin-bottom: 16px;
}

.namePriceContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 24px;

	border-bottom: 1px dashed grey;
}

.itemDescription {
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	color: black;
}

.priceContainer {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 96px;
}

.iconVegan {
	width: 24px;
	margin: 0;
}
